{% style %}
	.subcribe-container{position:relative}.subcribe-container .smi-button-wrapper{border-radius:var(--inputs-radius)}.subcribe-container .smi-inputs-wrapper:focus,.subcribe-container .smi-inputs-wrapper:focus-visible,.subcribe-container .smi-inputs-wrapper:hover,.subcribe-container .smi-inputs-wrapper:focus-within,.subcribe-container .smi-inputs-wrapper:active{outline:1px solid rgba(var(--color-foreground), 1);border:var(--border-width) solid rgba(var(--color-foreground), 1)}.email-container .smi-field-validate{display:flex;align-items:flex-start;font-size:calc(13px*var(--body-size))}.email-container .smi-field-validate span{line-height:calc((1 + .8/(var(--font-body-scale)*14/16))*var(--body-line-height-scale, 1))}.email-container .smi-field-validate svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));margin-right:5px}.email-container .button-sub{border:none}.email-container .smi-email-signup-vertical-2{--border-radius: var(--inputs-radius);--border-width: var(--inputs-border-width);--border-opacity: var(--inputs-border-opacity);--shadow-horizontal-offset: var(--inputs-shadow-horizontal-offset);--shadow-vertical-offset: var(--inputs-shadow-vertical-offset);--shadow-blur-radius: var(--inputs-shadow-blur-radius);--shadow-opacity: var(--inputs-shadow-opacity)}.email-container .smi-email-signup-vertical-2 .button-sub{width:100%;border-radius:var(--border-radius);box-shadow:var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))}.email-container .smi-email-signup-vertical-2 .button-sub::before,.email-container .smi-email-signup-vertical-2 .button-sub::after{display:none}.email-container.style-1,.email-container.style-5,.email-container.style-6{width:100%}.email-container.style-1 form,.email-container.style-5 form,.email-container.style-6 form{width:100%}.email-container.style-1 .smi-group-input,.email-container.style-5 .smi-group-input,.email-container.style-6 .smi-group-input{min-width:100%}@media screen and (max-width: 767.98px){.email-container.style-1 .smi-button-wrapper,.email-container.style-5 .smi-button-wrapper,.email-container.style-6 .smi-button-wrapper{position:initial}}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon{padding:0px;background-color:rgba(0,0,0,0);border:none;right:calc(var(--spacing-elements)*12px);cursor:pointer}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon svg,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon svg,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon svg path,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon svg path,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon svg path{fill:rgba(var(--color-foreground))}@media screen and (max-width: 767.98px){.email-container.style-1 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-5 .smi-button-wrapper.smi-button-email-signup-icon,.email-container.style-6 .smi-button-wrapper.smi-button-email-signup-icon{position:absolute}}.email-container.style-1 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-1 .smi-inputs-wrapper{position:relative;padding:0px}.email-container.style-1 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2}.email-container.style-1 .button-sub{padding-left:30px;padding-right:30px;--border-radius: var(--inputs-radius);--border-width: var(--inputs-border-width);--border-opacity: var(--inputs-border-opacity);--shadow-horizontal-offset: var(--inputs-shadow-horizontal-offset);--shadow-vertical-offset: var(--inputs-shadow-vertical-offset);--shadow-blur-radius: var(--inputs-shadow-blur-radius);--shadow-opacity: var(--inputs-shadow-opacity);height:100%}.email-container.style-1 .smi-button.smi-hover-vertical-lift:hover{transform:translateY(0)}.email-container.style-1 .smi-input-outline{position:relative;min-height:47px;width:calc(100% - 148px)}.email-container.style-1 .smi-input-outline input{height:100%;top:unset;left:unset}.email-container.style-1 .smi-input-outline input:focus-visible{outline:none;outline-offset:none;box-shadow:none}@media screen and (max-width: 767.98px){.email-container.style-1{width:100%;max-width:100%}.email-container.style-1 .smi-inputs-wrapper{border:none;border-radius:none;box-shadow:none;outline:none;flex-wrap:wrap;gap:16px}.email-container.style-1 .smi-inputs-wrapper .smi-input-outline{position:relative;min-height:47px;width:100%;border-radius:var(--border-radius);border:var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));box-shadow:var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity))}.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus-visible,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:hover,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:focus-within,.email-container.style-1 .smi-inputs-wrapper .smi-input-outline:active{outline:1px solid rgba(var(--color-foreground), 1)}.email-container.style-1 .email-input{position:relative;top:unset;left:unset}.email-container.style-1 .smi-button-wrapper{width:100%}}.email-container.style-2 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}.email-container.style-2 .smi-button-wrapper{position:inherit;min-width:148px}@media screen and (max-width: 767.98px){.email-container.style-2 .smi-button-wrapper{width:100%;max-width:100%}}.email-container.style-2 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;width:calc(100% - 148px)}.email-container.style-2 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-2 .smi-p-relative{gap:16px;width:100%}.email-container.style-2 .button-sub{padding-left:30px;padding-right:30px}@media screen and (max-width: 1200px){.email-container.style-2 .subcribe-container{display:block !important}.email-container.style-2 .smi-group-input{width:100%;max-width:100%;min-width:100%}.email-container.style-2 .button-sub{margin-top:0px}.email-container.style-2 .smi-p-relative{flex-wrap:wrap}.email-container.style-2 .email-input{width:100% !important;max-width:100% !important;top:unset;left:unset}}.email-container.style-3 .subcribe-container{padding:var(--boder, 0px);flex-direction:column;align-items:center}.email-container.style-3 .email-input{text-align:var(--content-alignment)}.email-container.style-3 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}@media screen and (max-width: 767.98px){.email-container.style-3 .smi-button-wrapper{width:100%;max-width:100%}}.email-container.style-3 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;margin-bottom:var(--horizontal-space-md);width:100%;max-width:100%}.email-container.style-3 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-3 .smi-p-relative{width:100%;flex-wrap:wrap;justify-content:var(--content-alignment)}.email-container.style-4 .subcribe-container{padding:var(--boder, 0px);flex-direction:column;align-items:center}.email-container.style-4 .email-input{text-align:center}.email-container.style-4 .subcribe-container{align-items:flex-start;align-self:stretch;width:100%}.email-container.style-4 .smi-button-wrapper{width:100%}.email-container.style-4 .smi-button-wrapper button{width:100%;max-width:100%}.email-container.style-4 .smi-group-input{max-width:calc(100% - var(--horizontal-space-md) - var(--horizontal-space-md)/2);position:relative;margin-bottom:var(--horizontal-space-md);width:100%;max-width:100%}.email-container.style-4 .smi-group-input .email-input{position:relative;top:unset;left:unset;outline:none}.email-container.style-4 .smi-p-relative{width:100%;flex-wrap:wrap;justify-content:center}.email-container.style-5 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-5 .smi-inputs-wrapper{position:relative;padding:0px;min-height:47px}.email-container.style-5 .email-input{min-height:47px;position:relative;top:unset;left:unset}.email-container.style-5 .email-input:focus-visible{outline:none;outline-offset:none;box-shadow:none}.email-container.style-5 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2;position:absolute}.email-container.style-5 .smi-button-wrapper{width:50px;min-height:47px;text-align:right}.email-container.style-6 .subcribe-container{margin-bottom:var(--inputs-shadow-horizontal-offset)}.email-container.style-6 .smi-inputs-wrapper{position:relative;padding:0px;min-height:47px}.email-container.style-6 input{min-height:unset}.email-container.style-6 .smi-button-wrapper{margin-left:auto;cursor:pointer;z-index:2;position:absolute}.email-container.style-6 input{border:none;outline:none;display:inline-block;width:calc(100% - var(--vertical-space-md, 16px));background-color:rgba(0,0,0,0);font-style:normal;font-weight:400;letter-spacing:var(--body-letter-spacing-scale, 0)}.email-container.style-6 .smi-button-wrapper{width:50px;min-height:47px;text-align:right}.email-container.style-6 .smi-email-input{display:flex;width:100%;align-items:center;padding-left:var(--vertical-space-md, 16px)}.email-container.style-6 .smi-email-input svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container.style-6 .smi-email-input svg path{fill:rgba(var(--color-foreground))}.email-container.style-6 .email-input{min-height:47px;top:unset;display:flex;align-items:center;left:unset;position:relative;padding-left:8px}.email-container.style-6 .email-input:focus-visible{outline-offset:0px;box-shadow:none}.email-container .email-input svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));stroke:rgba(var(--color-foreground))}.email-container .email-input svg path{fill:rgba(var(--color-foreground))}.email-container .smi-field-validate{text-align:var(--content-alignment);margin-bottom:0px;justify-content:var(--content-alignment);position:relative;display:flex}.email-container .smi-field-validate .smi-icon-sucess+span{text-align:left}@media screen and (max-width: 767.98px){.email-container .email-input{width:100%}}.smi-button-wrapper.smi-button-wrapper-over{border-radius:calc(var(--inputs-radius) - var(--inputs-border-width));border-width:0px}.smi-button-wrapper.smi-button-wrapper-over .button-sub{min-width:148px;border-radius:calc(var(--inputs-radius) - var(--inputs-border-width))}.smi-button-wrapper.smi-button-wrapper-over .button-sub:before{display:none}.smi-button-wrapper.smi-button-wrapper-over .button-sub:after{display:none}.email-input{min-height:47px;position:absolute;width:calc(100% - var(--border-width) - 1px);height:calc(100% - var(--border-width) - 1px);left:calc(var(--border-width) - 1px);top:calc(var(--border-width) - 1px);padding:10px 16px;border:none;box-shadow:none;flex:1;background:rgba(0,0,0,0);color:var(--color-foreground);border-radius:calc(var(--border-radius) - 6px);background-color:var(--color-background);font-family:inherit}@media screen and (max-width: 767.98px){.email-input{padding-top:12px;padding-bottom:12px}}.email-input.smi-content-with-input-m{width:360px}.email-input::placeholder,.email-input input::placeholder{overflow:hidden;color:rgba(var(--color-foreground), 0.55);text-overflow:ellipsis;letter-spacing:var(--body-letter-spacing-scale, 0)}@media screen and (max-width: 767.98px){.email-input.smi-input-email-signup-icon{padding-top:0px;padding-bottom:0px}}.smi-group-input{display:contents;align-self:stretch;padding:0px}.smi-button-wrapper .button-sub{display:flex;justify-content:center;align-items:center;cursor:pointer;border:none;border-radius:var(--inputs-radius);margin:0px;height:100%;padding-top:calc(var(--spacing-elements)*12px);padding-bottom:calc(var(--spacing-elements)*12px);font-weight:var(--button-font-weight, 500);font-family:var(--button-font-family);text-transform:var(--button-text-case, unset);letter-spacing:var(--button-letter-spacing-scale, 0)}.smi-button-wrapper .button-sub .button-sub-content{color:rgba(var(--color-button-text), 1)}.smi-button-wrapper .button-sub span svg{width:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1));height:calc(var(--vertical-space-md, 16px)*var(--icon-scale, 1))}@media screen and (max-width: 767.98px){.smi-button-wrapper .button-sub{width:100%;padding-top:12px !important;padding-bottom:12px !important}}.smi-section-footer-1{overflow:clip !important}.smi-section-footer-1 .smi-component-blocks-image .smi-media-wrapper{max-width:240px;box-sizing:content-box;overflow:hidden}.smi-section-footer-1 .menu-collap li:hover{opacity:1 !important}.smi-section-footer-1 .weight-content{cursor:pointer}.smi-section-footer-1 img{object-fit:cover}.smi-section-footer-1 .relative-smi-container{position:relative}.smi-section-footer-1 .smi-text-75{opacity:.75}.smi-section-footer-1 .smi-dropdown--country{margin:0px;background:rgba(var(--color-background), 1);margin-top:max(-67px - var(--country-size)*28.8px - (var(--country-size) - 1)*var(--spacing-elements)*8px - var(--popup-border-width)*2,-336px) !important;z-index:3 !important}.smi-section-footer-1 .smi-dropdown--language{z-index:3 !important;margin:0px;background:rgba(var(--color-background), 1);margin-top:max(-67px - var(--language-size)*28.8px - (var(--language-size) - 1)*var(--spacing-elements)*8px - var(--popup-border-width)*2,-336px) !important}.smi-section-footer-1 .footer-content-middle{display:flex;justify-content:space-between;flex-wrap:wrap}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon{max-width:100%;display:flex;grid-gap:12px;flex-wrap:wrap}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon a{display:flex;opacity:.75}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon a svg{stroke:rgba(var(--color-foreground), 1) !important}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon a svg path{fill:rgba(var(--color-foreground), 1) !important}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon a:hover{opacity:1}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .a-href-icon{display:flex;justify-content:center;align-items:center;padding:0px;line-height:initial;opacity:.75}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .a-href-icon svg{stroke:rgba(var(--color-foreground), 1) !important}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .a-href-icon svg path{fill:rgba(var(--color-foreground), 1) !important}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .a-href-icon:hover{opacity:1}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .product-share-icon-2{border-radius:5000px;padding:6px;background:rgba(var(--color-foreground), 0.0533)}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .product-share-icon-3{border-radius:5000px;padding:6px;border:1px solid rgba(var(--color-foreground), 0.267)}.smi-section-footer-1 .footer-content-middle .smi-social-media-icon .product-share-icon-3:hover{border:1px solid rgba(var(--color-foreground), 1)}.smi-section-footer-1 .footer-content-middle .smi-component-blocks-follow-on-shop{width:fit-content;max-width:calc(100% - 200px)}.smi-section-footer-1 .footer-content-middle span svg path{fill:rgb(var(--color-foreground))}.smi-section-footer-1 .divider-end{font-size:1px;color:rgba(0,0,0,0);height:1px;background:rgba(var(--color-foreground), 0.2);width:200%;margin-left:-50%}.smi-section-footer-1 .footer-content{display:flex;justify-content:space-between;flex-wrap:wrap;grid-gap:24px}.smi-section-footer-1 .footer-content .smi-footer-menu{max-width:22rem}.smi-section-footer-1 .footer-content .smi-footer-menu ul{list-style-type:none;padding:0}.smi-section-footer-1 .footer-content .smi-footer-menu ul a,.smi-section-footer-1 .footer-content .smi-footer-menu ul a:visited,.smi-section-footer-1 .footer-content .smi-footer-menu ul a:hover,.smi-section-footer-1 .footer-content .smi-footer-menu ul a:active{color:inherit}.smi-section-footer-1 .footer-content .smi-footer-image{max-width:24rem;min-width:200px}.smi-section-footer-1 .footer-content .smi-footer-email_form_footer{width:100%;max-width:28rem;min-width:14rem}.smi-section-footer-1 .footer-content .weight-content{width:100%;font-weight:500;display:flex;align-items:center}.smi-section-footer-1 .footer-content .heading-detail{width:100%;overflow:hidden;text-overflow:ellipsis;white-space:normal}.smi-section-footer-1 .footer-content .icon-arrow{width:20px;height:20px;float:right;display:none}.smi-section-footer-1 .footer-content .icon-arrow svg{height:20px;width:20px}.smi-section-footer-1 .footer-content .show-icon-arrow{display:block !important}.smi-section-footer-1 .footer-content .smi-footer-text{width:24rem;max-width:280px;min-width:150px}.smi-section-footer-1 .footer-content .smi-footer-text{width:100%;max-width:280px;min-width:150px}.smi-section-footer-1 .footer-info{width:100%}.smi-section-footer-1 .footer-info .ll{width:100%}.smi-section-footer-1 .footer-info smi-localization-form{min-width:fit-content}.smi-section-footer-1 .footer-info .smi-dropdown__list{max-width:250px;left:0 !important;right:auto !important}.smi-section-footer-1 .footer-content-end .footer-end-1,.smi-section-footer-1 .footer-content-end .footer-end-2{width:100%;display:flex;grid-gap:0px 20px;justify-content:space-between;flex-wrap:wrap}.smi-section-footer-1 .footer-content-end .footer-end-1 .lang-con-footer{width:290px}.smi-section-footer-1 .footer-content-end .footer-end-1 .icon-payment{display:flex;flex-wrap:wrap;justify-content:end;width:calc(100% - 300px - 10px)}.smi-section-footer-1 .footer-content-end .footer-end-1 .empty-country-language{width:0px !important}.smi-section-footer-1 .footer-content-end .footer-end-1 .full-width-icon-payment{justify-content:flex-start !important;width:100% !important}.smi-section-footer-1 .footer-content-end .footer-end-2 .copyright-footer{width:calc(50% - 10px)}.smi-section-footer-1 .footer-content-end .footer-end-2 .policies{width:calc(50% - 10px)}.smi-section-footer-1 .footer-content-end form{margin:0;padding:0}.smi-section-footer-1 .footer-content-end .smi-dropdown button{font-family:inherit}.smi-section-footer-1 .footer-content-end .smi-dropdown__button{background:rgba(0,0,0,0);border:none;padding:0;cursor:pointer}.smi-section-footer-1 .footer-content-end .smi-dropdown__button svg{width:calc(12px*var(--font-body-scale));height:calc(12px*var(--font-body-scale))}.smi-section-footer-1 .footer-content-end .smi-dropdown__button img{width:calc(16px*var(--font-body-scale));height:calc(12px*var(--font-body-scale))}.smi-section-footer-1 .footer-content-end .smi-dropdown__list{top:-1000px;right:0;opacity:0;visibility:hidden;margin-top:var(--section-padding-top, 0)}.smi-section-footer-1 .footer-content-end .smi-dropdown__list.smi-dropdown--country{width:max-content}.smi-section-footer-1 .footer-content-end .smi-dropdown__list.smi-dropdown--divider-true{margin-top:calc(var(--section-padding-top, 0) + 1px)}.smi-section-footer-1 .footer-content-end .smi-dropdown__list .smi-item a{color:rgba(var(--color-foreground), 0.75)}.smi-section-footer-1 .footer-content-end .smi-dropdown__list .smi-item a img{width:16px;height:12px}.smi-section-footer-1 .footer-content-end .smi-dropdown__list .smi-item--active a,.smi-section-footer-1 .footer-content-end .smi-dropdown__list .smi-item:hover a{color:rgba(var(--color-foreground))}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__button svg{transform:rotate(180deg)}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list{max-height:300px;overflow:auto;top:100%;opacity:1;visibility:visible}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar{width:5px;border-radius:20px}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-track{border-radius:20px;height:90%}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-thumb{background-color:rgba(var(--color-foreground), 1);border-radius:20px}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-track-piece:end{margin-bottom:10px}.smi-section-footer-1 .footer-content-end .smi-dropdown.smi-active .smi-dropdown__list::-webkit-scrollbar-track-piece:start{margin-top:10px}.smi-section-footer-1 .footer-content-end a,.smi-section-footer-1 .footer-content-end a:visited,.smi-section-footer-1 .footer-content-end a:active{color:rgba(var(--color-foreground), 0.75) !important}.smi-section-footer-1 .footer-content-end a:hover{color:rgba(var(--color-foreground), 1) !important}.smi-section-footer-1 .footer-content-end .footer-policies{display:flex;flex-wrap:wrap;grid-gap:12px;align-items:center;justify-content:end}.smi-section-footer-1 .footer-content-end .dot-policy{height:2px;width:2px;color:rgba(0,0,0,0);background:rgba(var(--color-foreground), 0.75)}.smi-section-footer-1 .footer-content-end .policies{display:flex;flex-wrap:wrap;grid-gap:0px 8px;align-items:center;justify-content:end}.smi-section-footer-1 .footer-content-end .policies .copyright__content{display:flex;align-items:center}.smi-section-footer-1 .footer-content-end .list-unstyled{margin:0;padding:0;list-style:none}@media screen and (max-width: 624px){.smi-section-footer-1 .footer-content-end .lang-con-footer{width:270px}.smi-section-footer-1 .footer-content-end .icon-payment{width:calc(100% - 290px)}}.smi-section-footer-1 .icon-container{width:20px;float:right;display:none}.smi-section-footer-1 .icon-arrow{float:right;display:none}.smi-section-footer-1 .icon-arrow svg{width:20px;height:20px}.smi-section-footer-1 .show-icon-arrow{display:block !important}@media screen and (max-width: 576px){.smi-section-footer-1 .smi-d-lg-flex{display:flex}.smi-section-footer-1 .footer-content{grid-gap:0px}.smi-section-footer-1 .footer-content .item-footer{width:100%;max-width:100%}.smi-section-footer-1 .footer-content .item-footer-detail{margin-bottom:calc(var(--spacing-elements)*24px)}.smi-section-footer-1 .footer-content .last-item-footer-detail{margin-bottom:0px !important}.smi-section-footer-1 .footer-content .item-footer-detail-not-collap{margin-bottom:calc(var(--spacing-elements)*16px) !important}.smi-section-footer-1 .footer-content-end .footer-end-1{margin-bottom:calc(var(--spacing-elements)*24px)}.smi-section-footer-1 .footer-content-end .footer-end-2{display:block !important}.smi-section-footer-1 .footer-content-end .footer-end-2 .copyright-footer{width:100%;margin-bottom:calc(var(--spacing-elements)*8px)}.smi-section-footer-1 .footer-content-end .footer-end-2 .policies{width:100%;justify-content:flex-start}.smi-section-footer-1 .collapsible-item-footer{padding:calc(var(--spacing-elements)*16px) 0px;border-top:1px solid rgba(var(--color-foreground), 0.2);margin-bottom:0px !important}.smi-section-footer-1 .collapsible-item-footer .collapsible-item-footer-detail{display:none}.smi-section-footer-1 .collapsible-item-footer .collapsible-item-footer-detail-show{display:block !important}.smi-section-footer-1 .collapsible-item-footer-next{border-bottom:1px solid rgba(var(--color-foreground), 0.2);margin-bottom:calc(var(--spacing-elements)*0px) !important}.smi-section-footer-1 .icon-container-show{display:block !important}.smi-section-footer-1 .heading-detail-collap{width:calc(100% - 20px) !important}}@media screen and (max-width: 530px){.smi-section-footer-1 .footer-content-middle{grid-gap:20px 0px}.smi-section-footer-1 .footer-content-middle .smi-component-blocks-social-media{width:100%}.smi-section-footer-1 .footer-content-end .footer-end-1{display:block !important}.smi-section-footer-1 .footer-content-end .footer-end-1 .lang-con-footer{width:100%;margin-bottom:calc(var(--spacing-elements)*12px)}.smi-section-footer-1 .footer-content-end .footer-end-1 .icon-payment{justify-content:flex-start;width:100%}}
{% endstyle %}
{% comment %}#component#["settings/container-width","settings/media-width","settings/media-position","settings/content-settings","settings/color-scheme","settings/section-padding","settings/rich-content-heading","settings/buttons","blocks/color","blocks/background","settings/animation-settings","settings/design-mode","blocks/email-signup-footer","settings/media-settings"]#endcomponent#{% endcomment %}
<style>
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      #shopify-section-{{ section.id }} .smi-block-custom-color {
        {% comment %} --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};         {% endcomment %}
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
  {% comment %}  {% endcomment %}
  #shopify-section-{{ section.id }}{
  }
  {% assign hasColorBlock = false %}
  {% assign hasBackgroundBlock = false %}
  #smi-{{ section.id }}{
      --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
    overflow: hidden;
      {% for block in section.blocks %}
        {% if block.type == "background" %}
          {% if block.settings.background_simple != blank %}
            {% assign hasBackgroundBlock = true %}
          {% endif %}
        {% endif %}
        {% if block.type == "color" %}
          {% assign hasColorBlock = true %}
        {% endif %}
      {% endfor %}
      {% for block in section.blocks %}
        {% if hasBackgroundBlock == false %}
          {% if block.type == "color" %}
            --color-background: {{ block.settings.background_color.red }}, {{ block.settings.background_color.green }},{{ block.settings.background_color.blue }};        
          {% endif %}
        {% elsif hasBackgroundBlock == true %}
            {% if block.type == "background" %}
              --color-background: {{ block.settings.background_simple.red }}, {{ block.settings.background_simple.green }}, {{ block.settings.background_simple.blue }};
            {% endif %}
        {% endif %}
      {% endfor %}
  }
</style>
{%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-footer-1 smi-color-{{ section.settings.color_scheme }}"
  data-section="footer-1" data-name="✧Footer 1">
   
  {% render 'smi-background' %}
  <div class="relative-smi-container smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
    <div class="footer-content smi-mb-lg footer-content-detail-item-{{ section.id }} {%- if animation_scroll%} smi-scroll-trigger smi-animate--slide-in{% endif -%}"
      data-load='
      {
        "size": "{{ section.blocks.size }}" 
      }
    '
    >
      {% assign totalIndexItem = 0 %}
      {% for block in section.blocks %}
        {% if block.type != "color" and block.type != "background" %}
        <div class="item-footer smi-footer-{{ block.type }} 
            item-footer-detail  
          {% if forloop.index == section.blocks.size %}  
            last-item-footer-detail 
          {% endif %} 
          {% if block.settings.enable_collapsible_content_on_mobile %}
            {% if block.type != 'menu' %}
                collapsible-item-footer 
              {% else %}
              {%- if block.settings.menu != blank or block.settings.heading != blank -%}
                collapsible-item-footer 
              {% endif %}
            {% endif %}
          {% endif %}">
          {% if block.type == 'email_form_footer' %}
    <div id="item_footer_detail_{{ forloop.index }}_{{ section.id }}" 
        class="smi-footer_{{ block.type }}" {{- block.shopify_attributes -}}>
        {% liquid
  for block in section.blocks
    if block.type == 'email_form_footer'
      assign style_email_signup = block.settings.style_email_signup | times: 1
    endif
  endfor
  capture icon_success
    render 'smi-icons', icon: 'success'
  endcapture
  capture icon_error
    render 'smi-icons', icon: 'error'
  endcapture
  assign form_success = 'smind.form.form_email_success' | t
  assign form_error = 'smind.form.form_error' | t
  assign field_invalid = 'smind.form.field_invalid' | t : field : "Email"
  assign field_required = 'smind.form.field_required' | t : field : "Email"
%}
<div class="email-container style-{{style_email_signup}} smi-d-block smi-align-items-center smi-column-gap-xs" {{- block.shopify_attributes -}}>
  {% assign heading_content = block.settings.heading | strip %}
    {% if heading_content != blank or heading_content != '' %}
  <div class="weight-content heading-collapsible_{{ forloop.index }}_{{ section.id }}">
    <h5 class="heading-detail {{ block.settings.heading_size }} {% if block.settings.enable_collapsible_content_on_mobile %} heading-detail-collap {% endif %}"
    >{{ block.settings.heading }}</h5>
    <span class="icon-container {% if block.settings.enable_collapsible_content_on_mobile %} icon-container-show {% endif %}">
      <span class="icon-arrow" id="collapse_up_arr_{{ forloop.index }}_{{ section.id }}">
        {% render 'smi-icons', icon: 'arrow-up' %}
      </span>
      <span class="icon-arrow show-icon-arrow" id="collapse_down_arr_{{ forloop.index }}_{{ section.id }}">
        {% render 'smi-icons', icon: 'arrow-down' %}
      </span>
    <span>
      <!-- ShareThis BEGIN --><div class="sharethis-inline-follow-buttons"></div><!-- ShareThis END -->
  </div>
{% endif %}
<div class="{% if block.settings.enable_collapsible_content_on_mobile and heading_content != blank and heading_content != "" %} collapsible-item-footer-detail {% endif %} content-collapsible_{{ forloop.index }}_{{ section.id }}">
  <div class="smi-text-md smi-mb-md smi-text-75 {% if heading_content != blank and heading_content != "" %} smi-mt-md {% endif %}">
    {{ block.settings.content }}
  </div>
  {%- form 'customer', id: 'smi-subscribe-Form', class: 'smi-form' -%}
    <div class="subcribe-container {% if style_email_signup == 2  %}smi-column-gap-md{% endif %} {% if style_email_signup == 3 or style_email_signup == 4 %}smi-row-gap-md{% endif %} smi-d-block smi-d-md-flex smi-justify-content-center smi-align-item-center">
      {% if style_email_signup == 1  %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            <div class="smi-input-outline">
              {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="email"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
            </div>
            <style>
  #smi-{{ section.id }}{
    --content-max-width: {{ section.settings.content_max_width }}px;
    {%- for block in section.blocks -%}
      {% if block.type == 'email_form' %}
        --content-space-form: {{ block.settings.space_form }}px;
      {% endif %}
    {% endfor %}
  }
</style>
<div class="smi-button-wrapper{% if style_email_signup == 2 %}
 smi-align-self-stretch smi-email-signup-vertical-2
{% endif %}{% if style_email_signup == 1 %}
smi-button-wrapper-over
{% endif %}">
  <button type="submit" class="button-sub smi-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content smi-text-sm">{{'smind.form.text_button_subscribe' | t}}</span>
  </button>
</div>
          </div>
        </div>
      {% elsif style_email_signup == 2 %}
        <div class="smi-p-relative smi-d-flex ">
          <div class="smi-group-input smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">{% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="email"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
</div>
          <style>
  #smi-{{ section.id }}{
    --content-max-width: {{ section.settings.content_max_width }}px;
    {%- for block in section.blocks -%}
      {% if block.type == 'email_form' %}
        --content-space-form: {{ block.settings.space_form }}px;
      {% endif %}
    {% endfor %}
  }
</style>
<div class="smi-button-wrapper{% if style_email_signup == 2 %}
 smi-align-self-stretch smi-email-signup-vertical-2
{% endif %}{% if style_email_signup == 1 %}
smi-button-wrapper-over
{% endif %}">
  <button type="submit" class="button-sub smi-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content smi-text-sm">{{'smind.form.text_button_subscribe' | t}}</span>
  </button>
</div>
        </div>
      {% elsif style_email_signup == 3 or style_email_signup == 4 %}
        <div class="smi-p-relative smi-d-flex ">
          <div class="smi-group-input smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">{% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="email"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
</div>
          <div class="smi-button-wrapper smi-email-signup-vertical-2">
  <button type="submit" class="button-sub smi-button smi-button--solid smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
    <span class="button-sub-content smi-d-flex smi-text-sm smi-align-items-center">
      {{'smind.form.text_button_subscribe' | t}}
      {% render 'smi-icons', icon: 'arrow-right-2' %}
    </span>
  </button>
</div>
        </div>
      {% elsif style_email_signup == 5 %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<input
  id="subscribe-From"
  type="email"
  name="contact[email]"
  {% comment %}
    class="field__input email-input"
  {% endcomment %}
  class="email-input smi-email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
  value="{{ form.email }}"
  aria-required="true"
  autocorrect="off"
  autocapitalize="off"
  autocomplete="email"
  placeholder="{{placeholder_email}}"
  {% if form.errors %}
    autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
  {% elsif form.posted_successfully? %}
    aria-describedby="ContactFooter-success"
  {% endif -%}
  pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
  required
>
            <button type="submit" class="smi-button-wrapper smi-button-email-signup-icon smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
  {% render 'smi-icons', icon: 'arrow-right-2' %}
</button>
          </div>
        </div>
      {% elsif style_email_signup == 6 %}
        <div class="smi-p-relative smi-flex-1">
          <div class="smi-inputs-wrapper smi-input smi-border smi-shadow smi-d-flex smi-align-items-center smi-column-gap-md sp-px-md">
            {% assign placeholder_email = 'smind.form.placeholder_email' | t %}
<div class="smi-email-input  smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}">
  {% render 'smi-icons', icon: 'mail' %}
  <input
    id="subscribe-From"
    type="email"
    name="contact[email]"
    {% comment %}
      class="field__input email-input"
    {% endcomment %}
    class="email-input smi-text-sm smi-color-text-55 smi-content-with-input-{{ block.settings.sizes }}"
    value="{{ form.email }}"
    aria-required="true"
    autocorrect="off"
    autocapitalize="off"
    autocomplete="email"
    placeholder="{{placeholder_email}}"
    {% if form.errors %}
      autofocusaria-invalid="true"aria-describedby="ContactFooter-error"
    {% elsif form.posted_successfully? %}
      aria-describedby="ContactFooter-success"
    {% endif -%}
    pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
    required
  >
</div>
            <button type="submit" class="smi-button-wrapper smi-button-email-signup-icon smi-hover-{{- settings.smi_animations_hover_elements | default: shop.metafields.smind.settings.value.buttonHoverEffect | default: 'none' }}">
  {% render 'smi-icons', icon: 'arrow-right-2' %}
</button>
          </div>
        </div>
      {% endif %}
    </div>
    {%- if form.posted_successfully? -%}
      <div class="sp-form-message sp-form-success">
        <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
          <span class="smi-icon-sucess">{{icon_success}}</span>
          <span>{{form_success}}</span>
        </p>
      </div>
    {%- elsif form.errors -%}
      <div class="sp-form-message sp-form-error">
        <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
        </p>
      </div>
    {%- else -%}
      {% for block in section.blocks %}
        {% if block.type == 'email_form' %}
          {% assign email_notice_text = block.settings.email_notice_text | strip %}
          {% if email_notice_text != blank %}
            <p class="smi-field-validate smi-mt-xs smi-text-sm smi-color-text-75">
              {{ block.settings.email_notice_text }}
            </p>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {%- endform -%}
</div>
</div>
<span class="smi-icon-sucess smi-icon-clone smi-d-none">{{icon_success}}</span>
<span class="smi-icon-error smi-icon-clone smi-d-none">{{icon_error}}</span>
<script type="application/json" id="smi-email_form-data-json">
{
  "field_invalid" : "{{field_invalid}}",
  "field_required" : "{{field_required}}"
}
</script>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    var pattern_email = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    function validateEmail (email) {
      return email.match(pattern_email);    
    }
    var currentEl = document.getElementById('smi-{{ section.id }}');
    var buttonForm = currentEl.querySelector('.smi-button-wrapper');
    var subscribeForm = currentEl.querySelector('.smi-subscribe-Form');
    let data_notice_json = data = JSON.parse(document.getElementById('smi-email_form-data-json').innerHTML);
    var icon_error = currentEl.querySelector(".smi-icon-error.smi-icon-clone");
    if(buttonForm){
      buttonForm.addEventListener('click', function(event) {
      var notificationForm = currentEl.querySelector('.smi-field-validate');
      var emailInputEl = currentEl.querySelector('.smi-email-input').value;
      var message = "";
      if(emailInputEl.trim().length <= 0){
        if(emailInputEl.trim().length <= 0){
          event.preventDefault();
          notificationForm.innerHTML = '';
          //Lay html
          message = icon_error?.innerHTML + data_notice_json['field_required'];
          var divError = document.createElement('div');
          divError.classList.add('smi-form-error', 'smi-d-flex', 'smi-align-items-center');
          divError.innerHTML = message;
          notificationForm.appendChild(divError);
        }
      } else {
        if(!validateEmail(emailInputEl)){
          event.preventDefault();
          notificationForm.innerHTML = '';
          message = icon_error?.innerHTML + data_notice_json['field_invalid'];
          var divError = document.createElement('div');
          divError.classList.add('smi-form-error', 'smi-d-flex', 'smi-align-items-center');
          divError.innerHTML = message;
          notificationForm.appendChild(divError);
        }
      }
    });
    }
});
</script>
    </div>
  {% endif %}
          {% if block.type == 'menu' %}
  {%- if block.settings.menu != blank or block.settings.heading != blank -%}
    <div id="item_footer_detail_{{ forloop.index }}_{{ section.id }}" 
      class="smi-component-blocks-menu" {{- block.shopify_attributes -}}>
      <div class="weight-content heading-collapsible_{{ forloop.index }}_{{ section.id }}">
        <h5
          class="
            heading-collapsible-{{ forloop.index }}_{{ section.id }}
             smi-h5 weight-content
          "
        >
          {% if block.settings.heading != blank %}
            {{ block.settings.heading }}
          {% else %}
            {{ block.settings.menu.title }}
          {% endif %}
        </h5>
        {%- if block.settings.menu != blank %}
        <span class="icon-container {% if block.settings.enable_collapsible_content_on_mobile %} icon-container-show {% endif %}">
          <span class="icon-arrow" id="collapse_up_arr_{{ forloop.index }}_{{ section.id }}">
            {% render 'smi-icons', icon: 'arrow-up' %}
          </span>
          <span class="icon-arrow show-icon-arrow" id="collapse_down_arr_{{ forloop.index }}_{{ section.id }}">
            {% render 'smi-icons', icon: 'arrow-down' %}
          </span>
        </span>
      {% endif %}
      </div>
      <div class="{% if block.settings.enable_collapsible_content_on_mobile %} collapsible-item-footer-detail {% endif %} content-collapsible_{{ forloop.index }}_{{ section.id }}">
        <ul class="menu menu-collap smi-text-md smi-mt-md">
          {%- for link in block.settings.menu.links -%}
            <li class="smi-text-75">
              <a
                href="{{ link.url }}"
                class=""
              >
                {{ link.title }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  {%- endif -%}
{% endif %}
          {% if block.type == 'image' %}
  {% assign img_width = block.settings.image_width %}
  {% assign class_img_width = 'smi-img-' | append: forloop.index %}
  <div
    id="item_footer_detail_{{ forloop.index }}_{{ section.id }}"
    class="smi-component-blocks-image footer-{{ section.id }}"
    {{- block.shopify_attributes -}}
  >
    {% assign heading_content = block.settings.heading | strip %}
    {% if heading_content != blank or heading_content != '' %}
    <div class="weight-content heading-collapsible_{{ forloop.index }}_{{ section.id }}">
      <h5 class="{{ block.settings.heading_size }} weight-content">
        {{ block.settings.heading }}
      </h5>
      <span class="icon-container {% if block.settings.enable_collapsible_content_on_mobile %} icon-container-show {% endif %}">
        <span class="icon-arrow" id="collapse_up_arr_{{ forloop.index }}_{{ section.id }}">
          {% render 'smi-icons', icon: 'arrow-up' %}
        </span>
        <span class="icon-arrow show-icon-arrow" id="collapse_down_arr_{{ forloop.index }}_{{ section.id }}">
          {% render 'smi-icons', icon: 'arrow-down' %}
        </span>
      </span>
      <!-- ShareThis BEGIN --><div class="sharethis-inline-follow-buttons"></div><!-- ShareThis END -->
    </div>
  {% endif %}
    <div class="{% if block.settings.enable_collapsible_content_on_mobile and heading_content != blank and heading_content != "" %} collapsible-item-footer-detail {% endif %} content-collapsible_{{ forloop.index }}_{{ section.id }}">
      <div class="image-collap {% if heading_content != blank and heading_content != "" %} smi-mt-md {% endif %}">
        {% comment %} {% if block.settings.content == blank and block.settings.heading == blank %} {% endcomment %}
          <style>
            .footer-{{ section.id }} .smi-img-{{ forloop.index }} {
              {% if block.settings.use_media_setting == true %}
                width: calc({{ img_width }}px - (var(--media-border-width) * 2));
                max-width: calc(240px - (var(--media-border-width) * 2));
                {% else %}
                width: {{ img_width }}px;
                max-width: 240px;
              {% endif %}
              object-fit: contain;
              height: fit-content;
            }
          </style>
        {% comment %} {% endif %} {% endcomment %}
        {%- if block.settings.text_image != blank -%}
            {% liquid
            assign media_wrapper = ''
            if block.settings.use_media_setting == true
            assign media_wrapper = 'smi-media-wrapper'
            endif
            %}
           
          {{
            block.settings.text_image
            | image_url: width: img_width
            | image_tag: loading: 'lazy', class: class_img_width
          }}
        </a>
        {%- endif -%}
        <div class="smi-text-75 smi-text-md">{{ block.settings.content }}</div>
      </div>
    </div>
  </div>
{% endif %}
          {% if block.type == 'text' %}
  <div
    id="item_footer_detail_{{ forloop.index }}_{{ section.id }}"
    class="smi-component-blocks-text"
    {{- block.shopify_attributes -}}
  >
    {% assign heading_content = block.settings.heading | strip %}
    {% if heading_content != blank or heading_content != '' %}
      <div class="weight-content heading-collapsible_{{ forloop.index }}_{{ section.id }}">
        <h5 class="{{ block.settings.heading_size }} weight-content">
          {{ block.settings.heading }}
        </h5>
        <span class="icon-container {% if block.settings.enable_collapsible_content_on_mobile %} icon-container-show {% endif %}">
          <span class="icon-arrow" id="collapse_up_arr_{{ forloop.index }}_{{ section.id }}">
            {% render 'smi-icons', icon: 'arrow-up' %}
          </span>
          <span class="icon-arrow show-icon-arrow" id="collapse_down_arr_{{ forloop.index }}_{{ section.id }}">
            {% render 'smi-icons', icon: 'arrow-down' %}
          </span>
        </span>
      </div>
    {% endif %}
    <div class="{% if block.settings.enable_collapsible_content_on_mobile and heading_content != blank and heading_content != "" %} collapsible-item-footer-detail {% endif %} content-collapsible_{{ forloop.index }}_{{ section.id }}">
      <div class="text-collap {% if heading_content != blank and heading_content != "" %} smi-mt-md {% endif %}">
        <div class="smi-text-75 smi-text-md text-collap">{{ block.settings.content }}</div>
      </div>
    </div>
  </div>
{% endif %}
        </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="footer-content-middle border-middle-footer">
      {% if section.settings.icon_style != 'none' %}
      {% if section.settings.icon_style != 'none' %}
  {% liquid
    assign hasFB = settings.smi_social_facebook_link | default: shop.metafields.smind.settings.value.socialMedia.facebook | default: "" | strip
  assign hasIS = settings.smi_social_instagram_link | default: shop.metafields.smind.settings.value.socialMedia.instagram | default: "" | strip
  assign hasYTube = settings.smi_social_youtube_link | default: shop.metafields.smind.settings.value.socialMedia.youtube | default: "" | strip
  assign hasTikTok = settings.smi_social_tiktok_link | default: shop.metafields.smind.settings.value.socialMedia.tiktok | default: "" | strip
  assign hasTW = settings.smi_social_twitter_link | default: shop.metafields.smind.settings.value.socialMedia.twitter | default: "" | strip
  assign hasSChat = settings.smi_social_snapchat_link | default: shop.metafields.smind.settings.value.socialMedia.snapchat | default: "" | strip
  assign hasPT = settings.smi_social_pinterest_link | default: shop.metafields.smind.settings.value.socialMedia.pinterest | default: "" | strip
  assign hasTumblr = settings.smi_social_tumblr_link | default: shop.metafields.smind.settings.value.socialMedia.tumblr | default: "" | strip
  assign hasVM = settings.smi_social_vimeo_link | default: shop.metafields.smind.settings.value.socialMedia.vimeo | default: "" | strip
  %}
  {% if hasFB != blank
    or hasFB != ''
    or hasIS != blank
    or hasIS != ''
    or hasYTube != blank
    or hasYTube != ''
    or hasTikTok != blank
    or hasTikTok != ''
    or hasTW != blank
    or hasTW != ''
    or hasSChat != blank
    or hasSChat != ''
    or hasPT != blank
    or hasPT != ''
    or hasTumblr != blank
    or hasTumblr != ''
    or hasVM != blank
    or hasVM != ''
  %}
    <div class="smi-component-blocks-social-media smi-mb-lg {% if show_icon_on_desktop == false or show_icon_on_desktop == true %}smi-hide-social-icon-on-sm {%if show_icon_on_desktop == true %} smi-show-social-icon-on-desktop{% endif %}{% endif %}">
      <div class="smi-social-media-icon social-icon-size-{{ section.id }}">
        <style>
          .smi-social-media-icon.social-icon-size-{{ section.id }} . a-href-icon {
            width: 36px;
            height: 36px;
          }
          .smi-social-media-icon.social-icon-size-{{ section.id }} svg{
              width: 20px;
              height: 20px;
          }
        </style>
        {% comment %} {% capture permalinkURL %}{{ shop.url }}{% endcapture %} {% endcomment %}
        {% comment %} <span>{{ section.settings.heading }}</span> {% endcomment %}
        {% if hasFB != blank and hasFB != '' %}
          <a
            target="_blank"
            href="{% if hasFB != blank and hasFB != '' %}{{ hasFB }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-facebook {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'facebook' %}
          </a>
        {% endif %}
        {% if hasIS != blank and hasIS != '' %}
          <a
            target="_blank"
            href="{% if hasIS != blank and hasIS != '' %}{{ hasIS }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-instagram {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'instagram' %}
          </a>
        {% endif %}
        {% if hasYTube != blank and hasYTube != '' %}
          <a
            target="_blank"
            href="{% if hasYTube != blank and hasYTube != '' %}{{ hasYTube }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-youtube {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'youtube' %}
          </a>
        {% endif %}
        {% if hasTikTok != blank and hasTikTok != '' %}
          <a
            target="_blank"
            href="{% if hasTikTok != blank and hasTikTok != '' %}{{ hasTikTok }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-tiktok {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'tiktok' %}
          </a>
        {% endif %}
        {% if hasTW != blank and hasTW != '' %}
          <a
            target="_blank"
            href="{% if hasTW != blank and hasTW != '' %}{{ hasTW }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-twitter {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'twitter' %}
          </a>
        {% endif %}
        {% if hasSChat != blank and hasSChat != '' %}
          <a
            target="_blank"
            href="{% if hasSChat != blank and hasSChat != '' %}{{ hasSChat }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-snapchat {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'snapchat' %}
          </a>
        {% endif %}
        {% if hasPT != blank and hasPT != '' %}
          <a
            target="_blank"
            href="{% if hasPT != blank and hasPT != '' %}{{ hasPT }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-pinterest {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'pinterest' %}
          </a>
        {% endif %}
        {% if hasTumblr != blank and hasTumblr != '' %}
          <a
            target="_blank"
            href="{% if hasTumblr != blank and hasTumblr != '' %}{{ hasTumblr }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-tumblr {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'tumblr' %}
          </a>
        {% endif %}
        {% if hasVM != blank and hasVM != '' %}
          <a
            target="_blank"
            href="{% if hasVM != blank and hasVM != '' %}{{ hasVM }}{% else %}#{% endif %}" aria-label="social-meida"
            class=" share-twitter {% if section.settings.icon_style != "1" %} a-href-icon {% endif %} product-share-icon-{{ section.settings.icon_style }}"
          >
            {% render 'smi-icons', icon: 'vimeo' %}
          </a>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endif %}
      {% endif %}
      
      {% if section.settings.enable_follow_shop == true %}
      <div class="smi-component-blocks-follow-on-shop smi-mb-lg">
    <div class="footer__follow-on-shop">
      {% comment %} TODO: enable theme-check once `login_button` is accepted as valid filter {% endcomment %}
      {% # theme-check-disable %}
      {{ shop | login_button: action: 'follow' }}
      {% # theme-check-enable %}
    </div>
  </div>
      {% endif %}
    </div>
    <div class="divider-end">divider</div>
    <div class="footer-content-end smi-actions footer-info smi-pt-lg {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}">
      <div class="footer-end-1 smi-mb-xs">
  <div class="lang-con-footer {% if section.settings.enable_language == false and section.settings.enable_country == false %} empty-country-language {% endif %}">
    <div class=" smi-d-lg-flex smi-align-items-center smi-column-gap-sm">
      {% if section.settings.enable_language %} {%- if section.settings.enable_language and localization.available_languages.size > 1 -%}
    {% liquid
        assign language_size = localization.available_languages.size
    %}
    <smi-localization-form class="smi-lh-0 smi-h-100">
        {%- form 'localization', id: 'HeaderLanguageForm', class: 'localization-form smi-h-100 smi-h-100 smi-m-0 smi-p-0' -%}
        <div class="smi-dropdown smi-p-relative smi-h-100 smi-dropdown-popup-wrapper">
            <button type="button" class="smi-h-100 smi-dropdown__button smi-d-flex smi-align-items-center smi-column-gap-xxs smi-border-none smi-p-0 bg-transparent smi-cursor-pointer">
                <span class="smi-text-md smi-color-text smi-lh-normal">{{ localization.language.endonym_name | capitalize }}</span>
                {%- render 'smi-icons', icon: 'arrow-down' -%}
            </button>
            <ul class="smi-color-{{ color_schema }} smi-dropdown__list smi-dropdown--style smi-dropdown--language smi-px-md smi-d-flex smi-flex-column smi-row-gap-xs smi-dropdown--divider-{{section.settings.show_divider}} smi-border smi-shadow">
                {%- for language in localization.available_languages -%}
                    <li class="smi-item smi-list-style-none {% if language.iso_code == localization.language.iso_code %} smi-item--active{% endif %}">
                        <a href="#" data-value="{{ language.iso_code }}" class="smi-text-md smi-color-text">
                            {{ language.endonym_name | capitalize }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
            <input class="smi-selector" type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
        </div>
        {%- endform -%}
    </smi-localization-form>
{% endif %} {% endif %}
      {% if section.settings.enable_country %}{%- if section.settings.enable_country  -%}
    {% liquid
        assign country_size = localization.available_countries.size
    %}
    <smi-localization-form class="smi-lh-0 smi-h-100">
        {%- form 'localization', id: 'HeaderCountryForm', class: 'localization-form smi-h-100 smi-m-0 smi-p-0' -%}
        <div class="smi-dropdown smi-p-relative smi-h-100 smi-dropdown-popup-wrapper">
            <button type="button" class="smi-h-100 smi-dropdown__button smi-d-flex smi-align-items-center smi-column-gap-xxs smi-border-none smi-p-0 bg-transparent smi-cursor-pointer">
                <p class="smi-d-flex smi-align-items-baseline smi-column-gap-xxs smi-mb-0">
                    <img src="//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=32" alt="Canada" srcset="//cdn.shopify.com/static/images/flags/{{ localization.country.iso_code | downcase }}.svg?width=32 32w" width="32" height="24">
                    <span class="smi-text-md smi-color-text smi-lh-normal">{{- localization.country.currency.iso_code }}</span>
                </p>
                {%- render 'smi-icons', icon: 'arrow-down' -%}
            </button>
            <ul class="smi-color-{{ color_schema }} smi-dropdown__list smi-dropdown--style smi-dropdown--country smi-px-md smi-d-flex smi-flex-column smi-row-gap-xs smi-dropdown--divider-{{section.settings.show_divider}} smi-border smi-shadow">
                {%- for country in localization.available_countries -%}
                    <li class="smi-item smi-list-style-none {% if country.iso_code == localization.country.iso_code %} smi-item--active{% endif %}">
                        <a href="#" data-value="{{ country.iso_code }}" class="smi-text-md smi-color-text">
                            <img src="//cdn.shopify.com/static/images/flags/{{ country.iso_code | downcase }}.svg?width=32" alt="Canada" srcset="//cdn.shopify.com/static/images/flags/{{ country.iso_code | downcase }}.svg?width=32 32w" width="32" height="24">
                            {{ country.name }}
                            -
                            {{ country.currency.iso_code }}
                            {{ country.currency.symbol }}
                        </a>
                    </li>
                {%- endfor -%}
            </ul>
            <input class="smi-selector" type="hidden" name="country_code" value="{{ localization.language.iso_code }}">
        </div>
        {%- endform -%}
    </smi-localization-form>
{% endif %} {% endif %}
      <style>
        .smi-section-footer-1 {
          --country-size: {% if localization.available_countries.size > 7 %} 7.5 {% else %} {{ localization.available_countries.size }} {% endif %};
          --language-size: {{ localization.available_languages.size }};
          position: relative;
        }
        .footer__mural {
          width: 100%;
          max-width: 100%;
          margin: 4rem 0 0 0;
          padding: 0;
          display: block;
          line-height: 0;
          overflow: hidden;
          background-color: #ffffff;
        }
        .footer__mural img {
          width: 100%;
          height: auto;
          display: block;
        }
      </style>
    </div>
  </div>
  {% if section.settings.show_payment_icon %}
    <div
      class="footer-policies icon-payment {% if section.settings.enable_language == false and section.settings.enable_country == false %} full-width-icon-payment {% endif %}"
    >
      {%- for type in shop.enabled_payment_types -%}
        <span>
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </span>
      {%- endfor -%}
    </div>
  {% endif %}
</div>
<div class="footer-end-2">
  <div class="copyright-footer smi-text-xs">
    {% assign copyright = section.settings.copyright_text | strip | strip_newlines | strip_html %}
    {% if copyright != blank %}
      {{ copyright }}
    {% else %}
      <span class="smi-text-75">&copy; {{ 'now' | date: '%Y' }},</span> {{ shop.name | link_to: '/' }}
      {{ powered_by_link }}
    {% endif %}
  </div>
  {% if section.settings.show_policy %}
    <div class="policies smi-text-xs list-unstyled">
      {%- for policy in shop.policies -%}
        {%- if policy != blank -%}
          {% if forloop.index > 1 %}
            <div class="dot-policy">dot</div>
          {% endif %}
          <span class="copyright__content"
            ><a href="{{ policy.url }}">{{ policy.title }}</a></span
          >
        {%- endif -%}
      {%- endfor -%}
    </div>
  {% endif %}
</div>
  </div>
  <div class="footer__mural">
    <img src="https://cdn.shopify.com/s/files/1/0901/2156/8550/files/footer_design.png?v=1753011354" alt="Footer Mural" loading="lazy" width="1600" height="834">
  </div>
</div>
{% schema %}
{
	"name": "✧Footer 1-1",
	"tag": "section",
	"class": "smi-section smi-footer-1",
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "header",
			"content": "Settings"
		},
		{
			"type": "select",
			"id": "icon_style",
			"label": "Social media",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "1",
					"label": "Style 1"
				},
				{
					"value": "2",
					"label": "Style 2"
				},
				{
					"value": "3",
					"label": "Style 3"
				}
			],
			"default": "1"
		},
		{
			"type": "checkbox",
			"id": "enable_follow_shop",
			"label": "Enable Follow on Shop",
			"default": true,
			"info": "To allow customers to follow your store on the Shop app from your storefront, Shop Pay must be enabled. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/follow-on-shop)"
		},
		{
			"type": "checkbox",
			"id": "enable_language",
			"label": "Enable language selector",
			"default": true,
			"info": "To add a language, go to your [language settings.](/admin/settings/languages)"
		},
		{
			"type": "checkbox",
			"id": "enable_country",
			"label": "Enable country/region selector",
			"default": true,
			"info": "To add a country/region, go to your [market settings.](/admin/settings/markets)"
		},
		{
			"type": "checkbox",
			"id": "show_payment_icon",
			"label": "Show payment icons",
			"default": true,
			"info": "Show payment icon"
		},
		{
			"type": "checkbox",
			"id": "show_policy",
			"label": "Show policy links",
			"default": true,
			"info": "To add store policies, go to your [policy settings.](/admin/settings/legal)"
		},
		{
			"type": "richtext",
			"id": "copyright_text",
			"label": "Copyright text"
		},
		{
			"type": "header",
			"content": "Color"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Default Color Scheme"
		},
		{
			"type": "paragraph",
			"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"type": "email_form_footer",
			"name": "Email signup",
			"limit": 1,
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Save 10% for first order"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Content",
					"default": "<p>Enjoy 10% off on your first purchase and be the first to know about new releases, latest stories and offers.</p>"
				},
				{
					"type": "select",
					"id": "style_email_signup",
					"label": "Form style",
					"options": [
						{
							"value": "3",
							"label": "Horizontal"
						},
						{
							"value": "4",
							"label": "Horizontal (full-width)"
						},
						{
							"value": "5",
							"label": "Classic"
						},
						{
							"value": "6",
							"label": "Classic(Icon)"
						}
					],
					"default": "3"
				},
				{
					"type": "text",
					"id": "email_notice_text",
					"label": "Subtext",
					"default": "No spam, unsubscribe anytime!"
				},
				{
					"type": "checkbox",
					"id": "enable_collapsible_content_on_mobile",
					"label": "Enable collapsible content on mobile",
					"default": true
				}
			]
		},
		{
			"type": "menu",
			"name": "Menu",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Follow us"
				},
				{
					"type": "link_list",
					"id": "menu",
					"label": "Menu",
					"info": " Display only top-level menu items."
				},
				{
					"type": "checkbox",
					"id": "enable_collapsible_content_on_mobile",
					"label": "Enable collapsible content on mobile",
					"default": true
				}
			]
		},
		{
			"type": "image",
			"name": "Image",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h5"
				},
				{
					"type": "image_picker",
					"id": "text_image",
					"label": "Image"
				},
				{
					"type": "range",
					"id": "image_width",
					"min": 70,
					"max": 240,
					"step": 10,
					"unit": "px",
					"label": "Image width",
					"default": 200
				},
				{
					"type": "checkbox",
					"id": "use_media_setting",
					"label": "Use media style from theme settings",
					"default": false
				},
				{
					"type": "url",
					"id": "img_link",
					"label": "Link"
				},
				{
					"type": "richtext",
					"id": "content",
					"label": "Description",
					"default": "<p>There is a kangaroo pocket on the front. Discoloration effect fabric</p>"
				},
				{
					"type": "checkbox",
					"id": "enable_collapsible_content_on_mobile",
					"label": "Enable collapsible content on mobile",
					"default": true
				}
			]
		},
		{
			"type": "text",
			"name": "Text",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h6"
				},
				{
					"type": "richtext",
					"id": "content",
					"default": "<p>Enjoy 10% off on your first purchase and be the first to know about new releases, latest stories and offers.</p>",
					"label": "Content"
				},
				{
					"type": "checkbox",
					"id": "enable_collapsible_content_on_mobile",
					"label": "Enable collapsible content on mobile",
					"default": true
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Footer 1-1",
			"settings": {
				"full_width": false,
				"icon_style": "3",
				"enable_follow_shop": true,
				"enable_language": true,
				"enable_country": true,
				"show_payment_icon": true,
				"show_policy": true,
				"copyright_text": "",
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_1"
			},
			"blocks": [
				{
					"type": "menu",
					"settings": {
						"heading": "About",
						"menu": "menu-1",
						"enable_collapsible_content_on_mobile": true
					}
				},
				{
					"type": "menu",
					"settings": {
						"heading": "Shop",
						"menu": "menu-2",
						"enable_collapsible_content_on_mobile": true
					}
				},
				{
					"type": "menu",
					"settings": {
						"heading": "Support",
						"menu": "menu-3",
						"enable_collapsible_content_on_mobile": true
					}
				},
				{
					"type": "email_form_footer",
					"settings": {
						"heading": "Newsletters",
						"heading_size": "smi-h5",
						"content": "<p>Subscribe to update, access to exclusive deals, and more.</p>",
						"style_email_signup": "5",
						"email_notice_text": "",
						"enable_collapsible_content_on_mobile": false
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#ffffff",
						"background_gradient_color": "",
						"text_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#ffffff",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
!function(){"use strict";class e{sectionEl=null;constructor(e){console.log("sectionID: ",e),this.display1stFooter(e)}display1stFooter(e){const o=document.querySelector(`.footer-content-detail-item-${e.replace("smi-","")}`);if(o){let l=JSON.parse(o.getAttribute("data-load")),t=parseInt(l.size);for(let o=1;o<=t;o++)console.log("i: ",o),document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`)&&document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`).addEventListener("click",(()=>{"false"==kcheckCollapF1&&(document.querySelector(`.content-collapsible_${o}_${e.replace("smi-","")}`)?.classList.contains("collapsible-item-footer-detail-show")?(document.querySelector(`.content-collapsible_${o}_${e.replace("smi-","")}`)?.classList.remove("collapsible-item-footer-detail-show"),document.getElementById(`collapse_down_arr_${o}_${e.replace("smi-","")}`)?.classList.add("show-icon-arrow"),document.getElementById(`collapse_up_arr_${o}_${e.replace("smi-","")}`)?.classList.remove("show-icon-arrow")):(document.querySelector(`.content-collapsible_${o}_${e.replace("smi-","")}`)?.classList.add("collapsible-item-footer-detail-show"),document.getElementById(`collapse_down_arr_${o}_${e.replace("smi-","")}`)?.classList.remove("show-icon-arrow"),document.getElementById(`collapse_up_arr_${o}_${e.replace("smi-","")}`)?.classList.add("show-icon-arrow"))),kcheckCollapF1="true",setTimeout((()=>{kcheckCollapF1="false"}),250)}))}}}document.addEventListener("DOMContentLoaded",(()=>{new e("smi-{{ section.id }}")})),Shopify.designMode&&new e("smi-{{ section.id }}")}();var ic,kcheckCollapF1="false",secC="";if(window.addEventListener("DOMContentLoaded",(e=>{secC="smi-{{ section.id }}",removeSpacceCollapFooterItem()})),Shopify.designMode){secC="smi-{{ section.id }}",removeSpacceCollapFooterItem()}function collapsibleFooterItem(){let e="smi-{{ section.id }}";const o=document.querySelector(`.footer-content-detail-item-${e.replace("smi-","")}`);if(o){let l=JSON.parse(o.getAttribute("data-load")),t=parseInt(l.size);for(let o=1;o<=t;o++)console.log("i: ",o),document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`)&&(document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`).addEventListener("click",(()=>{ic=o})),document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`).removeEventListener("click",myFuncF1),document.querySelector(`.heading-collapsible_${o}_${e.replace("smi-","")}`).addEventListener("click",myFuncF1))}}function myFuncF1(){let e="smi-{{ section.id }}".replace("smi-","");collap(ic,e)}function collap(e,o){console.log("nenenen: ",`.content-collapsible_${e}_${o.replace("smi-","")}`),document.querySelector(`.content-collapsible_${e}_${o.replace("smi-","")}`)?.classList.contains("collapsible-item-footer-detail-show")?(console.log("ok ne: ",e),document.querySelector(`.content-collapsible_${e}_${o.replace("smi-","")}`)?.classList.remove("collapsible-item-footer-detail-show"),document.getElementById(`collapse_down_arr_${e}_${o.replace("smi-","")}`)?.classList.add("show-icon-arrow"),document.getElementById(`collapse_up_arr_${e}_${o.replace("smi-","")}`)?.classList.remove("show-icon-arrow")):(console.log("not ok ne: ",e),document.querySelector(`.content-collapsible_${e}_${o.replace("smi-","")}`)?.classList.add("collapsible-item-footer-detail-show"),document.getElementById(`collapse_down_arr_${e}_${o.replace("smi-","")}`)?.classList.remove("show-icon-arrow"),document.getElementById(`collapse_up_arr_${e}_${o.replace("smi-","")}`)?.classList.add("show-icon-arrow"))}function removeSpacceCollapFooterItem(){var e=document.querySelectorAll(".collapsible-item-footer");for(let o=0;o<e.length;o++){let l=e[o].nextElementSibling;l?.classList.contains("collapsible-item-footer")||(e[o]?.classList.add("collapsible-item-footer-next"),o<e.length-1&&e[o]?.classList.add("item-footer-detail-not-collap"))}}
</script>