{% style %}
	.smi-component-testimonial-block .smi-star-component{line-height:0}.smi-component-testimonial-block .smi-star-component span{line-height:0}.smi-component-testimonial-block .smi-star-component svg path{fill:#f8a427}.smi-component-testimonial-block .smi-star-component .smi-star-component-small svg{width:calc(20px*var(--icon-scale, 1));height:calc(20px*var(--icon-scale, 1))}.smi-component-testimonial-block .smi-star-component .smi-star-component-medium svg{width:calc(24px*var(--icon-scale, 1));height:calc(24px*var(--icon-scale, 1))}.smi-component-testimonial-block .smi-star-component .smi-star-component-large svg{width:calc(32px*var(--icon-scale, 1));height:calc(32px*var(--icon-scale, 1))}.smi-component-testimonial-block .avatar{height:70px;width:70px;object-fit:cover;vertical-align:bottom;box-sizing:border-box}.smi-component-testimonial-block .round{border-radius:5000px}.smi-section-testimonial-1{padding-top:var(--section-padding-top);padding-bottom:var(--section-padding-bottom);position:relative}.smi-section-testimonial-1 .smi-container .smi-heading-component,.smi-section-testimonial-1 .smi-container-fluid .smi-heading-component{text-align:var(--heading-alignment)}.smi-section-testimonial-1 .smi-container .smi-heading-component .smi-heading-component__heading,.smi-section-testimonial-1 .smi-container-fluid .smi-heading-component .smi-heading-component__heading{letter-spacing:var(--heading-letter-spacing-scale, 0)}.smi-section-testimonial-1 .smi-container .smi-heading-component .smi-heading-component__description,.smi-section-testimonial-1 .smi-container-fluid .smi-heading-component .smi-heading-component__description{letter-spacing:var(--body-letter-spacing-scale, 0)}.smi-section-testimonial-1 .smi-container .smi-heading-component .smi-heading-component__subheading,.smi-section-testimonial-1 .smi-container-fluid .smi-heading-component .smi-heading-component__subheading{letter-spacing:var(--subheading-letter-spacing-scale, 0);font-weight:var(--subheading-font-weight, 500);font-family:var(--subheading-font-family)}.smi-section-testimonial-1 .smi-container .smi-component-testimonial-block,.smi-section-testimonial-1 .smi-container-fluid .smi-component-testimonial-block{text-align:var(--content-alignment) !important}.smi-section-testimonial-1 .smi-container .smi-carousel,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel{position:relative}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-custom-dots .smi-slider-dot-container .swiper-pagination,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-custom-dots .smi-slider-dot-container .swiper-pagination{bottom:0}.smi-section-testimonial-1 .smi-container .smi-carousel .swiper-wrapper .swiper-slide,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .swiper-wrapper .swiper-slide{height:unset}.smi-section-testimonial-1 .smi-container .smi-carousel .swiper-wrapper .swiper-slide .smi-component-testimonial-block,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .swiper-wrapper .swiper-slide .smi-component-testimonial-block{height:100%;box-sizing:border-box}.smi-section-testimonial-1 .smi-container .smi-carousel.smi-items-single,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel.smi-items-single{max-width:800px;margin-left:auto;margin-right:auto}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper{width:100%;z-index:2}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .smi-component-sticky-page-dot,.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .swiper-pagination,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .smi-component-sticky-page-dot,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .swiper-pagination{margin-top:calc(var(--spacing-elements)*42px)}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .swiper-pagination,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .swiper-pagination{line-height:8px}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block p,.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block span,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block p,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block span{letter-spacing:var(--body-letter-spacing-scale, 0)}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block h5,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-swiper .swiper-slide .smi-component-testimonial-block h5{letter-spacing:var(--heading-letter-spacing-scale, 0)}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-component-arrow-slider .arrow-slider-content,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-component-arrow-slider .arrow-slider-content{display:flex;width:min(100% + 128px,100vw - 60px);min-width:calc(100% + 46px);position:absolute;z-index:100;top:56.5%;left:50%;transform:translateX(-50%)}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-icon,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-icon{cursor:pointer;position:absolute;top:56.5%;transform:translateY(-56.5%);margin-left:0px;margin-right:0px;margin-top:calc((var(--spacing-elements)*36px + 52px)/2*-1);z-index:999}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-slider-left,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-slider-left{left:0}.smi-section-testimonial-1 .smi-container .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-slider-right,.smi-section-testimonial-1 .smi-container-fluid .smi-carousel .smi-component-arrow-slider .arrow-slider-content .arrow-slider-right{right:0}.smi-section-testimonial-1 .smi-container-fluid .smi-carousel:not(.smi-items-single) .smi-component-arrow-slider{opacity:0;visibility:hidden}.smi-section-testimonial-1 .smi-container-fluid .smi-carousel:not(.smi-items-single):hover .smi-component-arrow-slider{opacity:1;visibility:visible}.smi-section-testimonial-1 .smi-component-arrow-slider .swiper-button-lock{display:none !important}.smi-section-testimonial-1 .smi-component-arrow-slider .arrow-icon.swiper-button-disabled{display:none}@media screen and (max-width: 767px){.smi-section-testimonial-1 .smi-component-arrow-slider{display:none !important}}
{% endstyle %}
{% comment %}#component#["settings/heading","settings/slider-arrows","settings/slider-dots","settings/section-padding","settings/testimonial-block","blocks/background","settings/design-mode","settings/animation-settings"]#endcomponent#{% endcomment %}
{{ 'smi-swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src="{{ 'smi-swiper-bundle.min.js' | asset_url }}" defer data-id="swiper"></script>
<script src="{{ 'smi-slider.min.js' | asset_url }}" defer data-id="review"></script>
{%- liquid
  assign grid_horizontal = settings.smi_spacing_grid_horizontal
  assign blocks = section.blocks | where: 'type', 'testimonial_block'
  assign desktop_items = section.settings.number_of_item | times: 1
  assign change_slide_every = section.settings.change_slide_every | times: 1000
  assign arr_slider = true
  assign page_dot_style = section.settings.sticky_page_dot_style
  if blocks.size < desktop_items
    assign desktop_items = blocks.size
  endif
  assign tablet_items = 2
  if desktop_items == 1
    assign tablet_items = 1
  endif
  if blocks.size <= desktop_items
    assign arr_slider = false
  endif
-%}
<style>
  {% assign colorblock = section.blocks | where: 'type', 'color' | first %}
{% if colorblock %}
      #shopify-section-{{ section.id }},
      #shopify-section-{{ section.id }} .smi-color-{{ section.settings.color_scheme }},
      .smi-block-custom-color { 
        --color-background: {{ colorblock.settings.background_color.red }}, {{ colorblock.settings.background_color.green }},{{ colorblock.settings.background_color.blue }};        
        --color-background-alpha: {{ colorblock.settings.background_color.alpha | default: 1 }};
        {% if colorblock.settings.background_gradient_color == blank %}
            --gradient-background: {{ colorblock.settings.background_color }};
        {% else %}
            --gradient-background: {{ colorblock.settings.background_gradient_color }};
        {% endif %}
        --color-foreground-hex: {{ colorblock.settings.text_color }};
        --color-foreground: {{ colorblock.settings.text_color.red }}, {{ colorblock.settings.text_color.green }},{{ colorblock.settings.text_color.blue }};
        --color-subtext: {{ colorblock.settings.subtext_color.red }},{{ colorblock.settings.subtext_color.green }},{{ colorblock.settings.subtext_color.blue }};
        --color-button: {{ colorblock.settings.solid_background_button_color.red }}, {{ colorblock.settings.solid_background_button_color.green }},{{ colorblock.settings.solid_background_button_color.blue }};
        --color-button-text: {{ colorblock.settings.solid_button_label_color.red }}, {{ colorblock.settings.solid_button_label_color.green }},{{ colorblock.settings.solid_button_label_color.blue }};
        --color-secondary-button-text: {{ colorblock.settings.outline_button_color.red }}, {{ colorblock.settings.outline_button_color.green }},{{ colorblock.settings.outline_button_color.blue }};
        --color-shadow: {{ colorblock.settings.shadow_color.red }}, {{ colorblock.settings.shadow_color.green }},{{ colorblock.settings.shadow_color.blue }};
    }
{% endif %}
;
  #shopify-section-{{ section.id }}{
  }
  #smi-{{ section.id }}{
    --section-padding-top: {{ section.settings.padding_top }}px;
--section-padding-bottom: {{ section.settings.padding_bottom }}px;
{% if section.settings.padding_top_section != blank or section.settings.padding_bottom_section != blank %}
    --section-margin-top: {{ section.settings.padding_top_section }}px;
    --section-margin-bottom: {{ section.settings.padding_bottom_section }}px;
{% endif %}
      --heading-alignment: {{ section.settings.heading_alignment }};
      --content-alignment: {{ section.settings.content_alignment }};
      --color-rating: {{ section.settings.color_rating }};
  }
</style>
<div
  id="smi-{{ section.id }}"
  class="smi-{{ section.id }} smi-section__inner smi-gradient smi-section-testimonial-1 smi-color-{{ section.settings.color_scheme }} smi-link-wrapper"
  data-section="testimonial-1" data-name="✧Testimonial 1"
>
 
    {% render 'smi-background' %}
  <div class="smi-container">{%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
<div class="smi-heading-component smi-heading-component--align-{{section.settings.heading_alignment}} smi-link-wrapper" {{- block.shopify_attributes -}}    >
  {% liquid
    assign heading = section.settings.heading | strip
    assign sub_heading = section.settings.sub_heading | strip
    assign description = section.settings.description | strip
  %}
  <div class="smi-heading-inner
    {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in{% endif -%}
    {%- if heading != blank or sub_heading != blank or description != blank %} smi-mb-xxl{% endif -%}
    ">
        {%- assign sub_heading = section.settings.sub_heading | strip -%}
{% if sub_heading != blank %}
    <p class="smi-text-sub smi-mb-xxs smi-heading-component__subheading" data-type="subheading" data-key="s.subheading">{{- sub_heading -}}</p>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{%- assign heading = section.settings.heading | strip -%}
{% if heading != blank %}
    <h2 class="{{ section.settings.heading_size }} {% if description != blank %}smi-mb-sm{% endif %} smi-heading-component__heading" data-type="heading" data-key="s.heading">{{- heading -}}</h2>
{% endif %} 
        {%- assign description = section.settings.description | strip -%}
{% if description != blank %}
    <div class="smi-text-md smi-heading-component__description" data-type="description" data-key="s.description">{{ description }}</div>
{% endif %}
    </div>
</div>
</div>
  <div class="smi-container{%- if section.settings.full_width -%}-fluid{%- endif -%}">
    {%-liquid
    if settings.smi_animations_reveal_on_scroll != nil
        assign animation_scroll = settings.smi_animations_reveal_on_scroll
    else
        assign global_settings = shop.metafields.smind.settings.value
        assign animation_scroll = global_settings.revealOnScroll
    endif
-%}
    <div class="smi-carousel {% if desktop_items == 1 %} smi-items-single {% endif %} {%- if animation_scroll %} smi-scroll-trigger smi-animate--slide-in smi-animate-order-1 {% endif -%}">
      <div
        class="swiper smi-swiper"
        data-slider='
          {
            "destopItems": {{ desktop_items }},
            "tabletItems": {{ tablet_items }},
            "autoplay": {{ section.settings.auto_rotate_slides }},
            "speed": {{ change_slide_every }},
            "dotStyle": "{{ page_dot_style }}"
          }
        '
      >
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            {% if block.type == 'testimonial_block' %}
              <div class="swiper-slide" {{- block.shopify_attributes -}} data-swiper-slide-index="{{ forloop.index0 }}"><div class="smi-component-testimonial-block 
  {% if section.settings.content_alignment == "left" %}
  smi-pr-xs
  {% elsif section.settings.content_alignment == "right" %}
  smi-pl-xs
  {% else %}
  smi-px-xs
{% endif %}">
  {%- if block.settings.star != 'none' -%}
    <div class="smi-rating-component smi-mb-md smi-lh-0"><div class="smi-d-inline-flex smi-align-items-center smi-column-gap-xxs smi-rating-component-inner smi-rating-inner--medium">
    {%- assign star = block.settings.star | times: 1 -%}
    {%- assign star_floor = star | floor -%}
    {%- assign star_ceil = star | ceil -%}
    {% for i in (1..5) %}
        {%- if i <= star_floor -%}
            <span>{% render 'smi-icons', icon: 'star-2' %}</span>
        {% elsif i > star_floor and i <= star_ceil %}
            <span>{% render 'smi-icons', icon: 'star-half' %}</span>
        {% elsif i > star_ceil  %}
            <span>{% render 'smi-icons', icon: 'star' %}</span>
        {%- endif -%}
    {% endfor %}
</div></div>
  {%- endif -%}
  {% if block.settings.heading != blank %}
    <h1 class="smi-mb-xs {{ block.settings.heading_size }}">{{ block.settings.heading }}</h1>
  {% endif %}
  {% if block.settings.description != blank %}
    <div class="smi-mb-lg smi-text-md smi-color-text-75 smi-mb-lg">{{ block.settings.description }}</div>
  {% endif %}
  {% liquid
    assign author_shape = block.settings.author_shape
    assign author_classes = ''
    if author_shape == 'default' or author_shape == 'round'
        assign author_classes = 'smi-media-wrapper smi-media-settings smi-border smi-shadow smi-mb-sm avatar ' | append: author_shape
    else
        assign author_classes = author_classes | append: 'smi-' | append: author_shape | append: " smi-blob-wrapper" | append: ' smi-mb-sm avatar'
    endif
  %}
  {%- if author_shape != 'none' -%}
    {%- if block.settings.author_image != blank -%}
            {{ block.settings.author_image | image_url: width: 200 | image_tag: loading: 'lazy', class: author_classes }}
        {%- else -%}
                {{ 'blog-apparel-3' | placeholder_svg_tag: author_classes }}
        {%- endif -%}
    {% endif %}
  {% if block.settings.author_name != blank %}
    <h3 class="smi-h5">{{ block.settings.author_name }}</h3>
  {% endif %}
  {% if block.settings.author_info != blank %}
    <p class="smi-text-md smi-color-text-75">{{ block.settings.author_info }}</p>
  {% endif %}
</div>
</div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      {% if arr_slider == true %}
        {% if section.settings.arrow_style != 'none' %}
  <div class="smi-component-arrow-slider">
    <div class="arrow-slider-content">
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-left smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-left-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-left' %}
        {% endif %}
      </div>
      <div class="{{ section.settings.arrow_style }} arrow-icon arrow-slider-right smi-cursor-pointer">
        {% if section.settings.arrow_style == 'arr-style-2' or 
          section.settings.arrow_style == 'arr-square-style-4' or
          section.settings.arrow_style == 'arr-square-style-5' or
          section.settings.arrow_style == 'arr-square-style-6' or
          section.settings.arrow_style == 'arr-circle-style-4' or
          section.settings.arrow_style == 'arr-circle-style-5'
        %}
            {% render 'smi-icons', icon: 'arrow-right-2' %}
        {% else %}
            {% render 'smi-icons', icon: 'arrow-right' %}
      {% endif %}
      </div>
    </div>
  </div>
{% endif %}
      {% endif %}
      {% if section.settings.sticky_page_dot_style != 'none' %}
      <div class="smi-mt-xl smi-custom-dots" >
        {% if section.settings.sticky_page_dot_style != 'none' %}
  <div class="smi-slider-dot-container">
    {% if section.settings.sticky_page_dot_style == 'text-style-1'
      or section.settings.sticky_page_dot_style == 'text-style-2'
      or section.settings.sticky_page_dot_style == 'text-style-3'
    %}
      <div class="smi-component-sticky-page-dot">
        <div class="smi-slider-action">
          <div class="smi-arrows {{ section.settings.sticky_page_dot_style }}">
            <div data-control="textPrevSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-left' %}</div>
            {% comment %} <div class="smi-slider-pagination smi-text-sm">1/3</div> {% endcomment %}
            <div class="text-pagination smi-pagination smi-slider-pagination smi-text-sm smi-arrow"></div>
            <div data-control="textNextSlide" class="smi-arrow dot-arrow-slider smi-text-sm">{% render 'smi-icons', icon: 'arrow-right' %}</div>
          </div>
        </div>
      </div>
    {% else %}
      <div class="dot-container {{ section.settings.sticky_page_dot_style }}">
        <div
          class="swiper-pagination smi-pagination"
          {% if section.settings.sticky_page_dot_style == 'dot-style-4' %}
            style="display: flex;"
          {% endif %}
        ></div>
      </div>
    {% endif %}
  </div>
{% endif %}
      </div>
    {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
	"name": "✧Testimonial 1-1",
	"tag": "section",
	"class": "smi-section smi-testimonial-1",
	"enabled_on": {
		"templates": [
			"*"
		],
		"groups": [
			"custom.template"
		]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "full_width",
			"label": "Container full-width",
			"default": false
		},
		{
			"type": "inline_richtext",
			"id": "sub_heading",
			"label": "Subheading",
			"default": "URNA CRAS MAURIS"
		},
		{
			"type": "inline_richtext",
			"id": "heading",
			"label": "Heading",
			"default": "Happy Customers Say"
		},
		{
			"type": "select",
			"id": "heading_size",
			"label": "Heading size",
			"options": [
				{
					"value": "smi-h4",
					"label": "XS"
				},
				{
					"value": "smi-h3",
					"label": "S"
				},
				{
					"value": "smi-h2",
					"label": "M"
				},
				{
					"value": "smi-h1",
					"label": "L"
				}
			],
			"default": "smi-h2"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Description",
			"default": "<p>Commodo lorem morbi aliquam dui turpis. Iaculis pretium posuere nulla tincidunt blandit. A at elementum faucibus integer.</p>"
		},
		{
			"type": "text_alignment",
			"id": "heading_alignment",
			"label": "Heading alignment",
			"default": "center"
		},
		{
			"type": "text_alignment",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "center"
		},
		{
			"type": "header",
			"content": "Navigation"
		},
		{
			"type": "select",
			"id": "arrow_style",
			"label": "Arrow",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "arr-style-1",
					"label": "Style 1"
				},
				{
					"value": "arr-style-2",
					"label": "Style 2"
				},
				{
					"value": "arr-square-style-1",
					"label": "Square style 1"
				},
				{
					"value": "arr-square-style-2",
					"label": "Square style 2"
				},
				{
					"value": "arr-square-style-3",
					"label": "Square style 3"
				},
				{
					"value": "arr-square-style-4",
					"label": "Square style 4 (bg)"
				},
				{
					"value": "arr-square-style-5",
					"label": "Square style 5 (bg)"
				},
				{
					"value": "arr-square-style-6",
					"label": "Square style 6"
				},
				{
					"value": "arr-circle-style-1",
					"label": "Circle style 1 (bg)"
				},
				{
					"value": "arr-circle-style-2",
					"label": "Circle style 2"
				},
				{
					"value": "arr-circle-style-3",
					"label": "Circle style 3"
				},
				{
					"value": "arr-circle-style-4",
					"label": "Circle style 4"
				},
				{
					"value": "arr-circle-style-5",
					"label": "Circle style 5 (bg)"
				}
			],
			"default": "arr-style-1"
		},
		{
			"type": "select",
			"id": "sticky_page_dot_style",
			"label": "Pagination",
			"options": [
				{
					"value": "none",
					"label": "None"
				},
				{
					"value": "dot-style-1",
					"label": "Dot style 1"
				},
				{
					"value": "dot-style-2",
					"label": "Dot style 2"
				},
				{
					"value": "dot-style-3",
					"label": "Dot style 3"
				},
				{
					"value": "dot-style-4",
					"label": "Dot style 4"
				},
				{
					"value": "line-dot",
					"label": "Line dot"
				},
				{
					"value": "line-style-1",
					"label": "Line style 1"
				},
				{
					"value": "line-style-2",
					"label": "Line style 2"
				},
				{
					"value": "line-style-3",
					"label": "Line style 3"
				},
				{
					"value": "line-style-4",
					"label": "Line style 4"
				},
				{
					"value": "text-style-1",
					"label": "Text style 1"
				},
				{
					"value": "text-style-2",
					"label": "Text style 2"
				},
				{
					"value": "text-style-3",
					"label": "Text style 3"
				}
			],
			"default": "dot-style-1"
		},
		{
			"type": "header",
			"content": "Slides"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slides",
			"label": "Auto-rotate slides",
			"default": false
		},
		{
			"type": "range",
			"id": "change_slide_every",
			"min": 2,
			"max": 15,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "select",
			"id": "number_of_item",
			"label": "Number of columns on desktop",
			"options": [
				{
					"value": "1",
					"label": "1 Column"
				},
				{
					"value": "2",
					"label": "2 Columns"
				},
				{
					"value": "3",
					"label": "3 Columns"
				},
				{
					"value": "4",
					"label": "4 Columns"
				},
				{
					"value": "5",
					"label": "5 Columns"
				}
			],
			"default": "3"
		},
		{
			"type": "select",
            "options": [
                {
                    "value": "scheme_1",
                    "label": "Scheme 1"
                },
                {
                    "value": "scheme_2",
                    "label": "Scheme 2"
                },
                {
                    "value": "scheme_3",
                    "label": "Scheme 3"
                },
                {
                    "value": "scheme_4",
                    "label": "Scheme 4"
                },
                {
                    "value": "scheme_5",
                    "label": "Scheme 5"
                },
                {
                    "value": "scheme_6",
                    "label": "Scheme 6"
                },
                {
                    "value": "scheme_7",
                    "label": "Scheme 7"
                },
                {
                    "value": "scheme_8",
                    "label": "Scheme 8"
                },
                {
                    "value": "scheme_9",
                    "label": "Scheme 9"
                },
                {
                    "value": "scheme_10",
                    "label": "Scheme 10"
                }
            ],
			"id": "color_scheme",
			"label": "Color Scheme",
			"info": "To use color scheme: Step 1: Hide color block in section. Step 2: Customize colors in color block of “✧Styles” section in global area. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
		},
		{
			"type": "color",
			"id": "color_rating",
			"default": "#F8A427",
			"label": "Rating color"
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "range",
			"id": "padding_top",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Top padding",
			"default": 50
		},
		{
			"type": "range",
			"id": "padding_bottom",
			"min": 0,
			"max": 200,
			"step": 2,
			"unit": "px",
			"label": "Bottom padding",
			"default": 50
		}
	],
	"blocks": [
		{
			"name": "Testimonial block",
			"limit": 20,
			"type": "testimonial_block",
			"settings": [
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": " Wow! Impressed"
				},
				{
					"type": "select",
					"id": "heading_size",
					"label": "Heading size",
					"options": [
						{
							"value": "smi-h6",
							"label": "XS"
						},
						{
							"value": "smi-h5",
							"label": "S"
						},
						{
							"value": "smi-h4",
							"label": "M"
						},
						{
							"value": "smi-h3",
							"label": "L"
						}
					],
					"default": "smi-h6"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Content",
					"default": "<p>Gravida erat neque auctor quam neque. Pulvinar sit sagittis nisl purus eget. Id commodo imperdiet blandit nam. Netus at id vestibulum morbi. Arcu egestas neque risus quisque imperdiet facilisis.</p>"
				},
				{
					"type": "text",
					"id": "author_name",
					"label": "Author",
					"default": "Jame Bones"
				},
				{
					"type": "text",
					"id": "author_info",
					"label": "Author info",
					"default": "Customers in U.S.A"
				},
				{
					"type": "image_picker",
					"id": "author_image",
					"label": "Author image"
				},
				{
					"type": "select",
					"id": "author_shape",
					"label": "Author shape",
					"options": [
						{
							"value": "none",
							"label": "None (Hide image)"
						},
						{
							"value": "default",
							"label": "Default"
						},
						{
							"value": "round",
							"label": "Round"
						},
						{
							"value": "shape-blob-1",
							"label": "Blob 1"
						},
						{
							"value": "shape-blob-2",
							"label": "Blob 2"
						},
						{
							"value": "shape-blob-3",
							"label": "Blob 3"
						},
						{
							"value": "shape-blob-4",
							"label": "Blob 4"
						},
						{
							"value": "shape-blob-5",
							"label": "Blob 5"
						},
						{
							"value": "shape-blob-6",
							"label": "Blob 6"
						}
					],
					"default": "default",
					"info": "Media theme settings don't apply to the \"Blob\" shape."
				},
				{
					"type": "select",
					"id": "star",
					"label": "Star",
					"options": [
						{
							"value": "none",
							"label": "None"
						},
						{
							"value": "5",
							"label": "5 stars"
						},
						{
							"value": "4.5",
							"label": "4.5 stars"
						},
						{
							"value": "4",
							"label": "4 stars"
						},
						{
							"value": "3.5",
							"label": "3.5 stars"
						},
						{
							"value": "3",
							"label": "3 stars"
						},
						{
							"value": "2.5",
							"label": "2.5 stars"
						},
						{
							"value": "2",
							"label": "2 stars"
						},
						{
							"value": "1.5",
							"label": "1.5 stars"
						},
						{
							"value": "1",
							"label": "1 star"
						}
					],
					"default": "5"
				}
			]
		},
		{
			"name": "Color",
			"limit": 1,
			"type": "color",
			"settings": [
				{
					"type": "paragraph",
					"content": "How to use “Color block” and “Color scheme”. [Learn more](https://docs.smind.io/guides/color-block-and-color-scheme)"
				},
				{
					"type": "color",
					"id": "background_color",
					"default": "#F3F3F3",
					"label": "Background"
				},
				{
					"type": "color_background",
					"id": "background_gradient_color",
					"label": "Background gradient",
					"info": "Background gradient replaces background where possible."
				},
				{
					"type": "color",
					"id": "text_color",
					"default": "#121212",
					"label": "Text"
				},
				{
					"type": "color",
					"id": "subtext_color",
					"default": "#121212",
					"label": "Subtext"
				},
				{
					"type": "color",
					"id": "solid_background_button_color",
					"default": "#121212",
					"label": "Solid button background"
				},
				{
					"type": "color",
					"id": "solid_button_label_color",
					"default": "#FFFFFF",
					"label": "Solid button label"
				},
				{
					"type": "color",
					"id": "shadow_color",
					"default": "#121212",
					"label": "Shadow"
				}
			]
		},
		{
			"name": "Background",
			"limit": 1,
			"type": "background",
			"settings": [
				{
					"type": "color",
					"id": "background_simple",
					"label": "Background section"
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "image_mobile",
					"label": "Mobile image (optional)"
				},
				{
					"type": "select",
					"id": "animation",
					"label": "Image animation",
					"options": [
						{
							"label": "None",
							"value": "none"
						},
						{
							"label": "Ambient movement",
							"value": "ambient_movement"
						},
						{
							"label": "Parallax",
							"value": "parallax"
						}
					],
					"default": "none"
				},
				{
					"type": "header",
					"content": "Video background"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Upload video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "color_background",
					"id": "background_overlay",
					"label": "Overlay background"
				}
			]
		}
	],
	"presets": [
		{
			"name": "✧Testimonial 1-1",
			"settings": {
				"full_width": false,
				"sub_heading": "",
				"heading": "What our customers say",
				"heading_size": "smi-h2",
				"description": "",
				"heading_alignment": "center",
				"content_alignment": "center",
				"arrow_style": "arr-circle-style-1",
				"sticky_page_dot_style": "dot-style-3",
				"auto_rotate_slides": false,
				"change_slide_every": 5,
				"number_of_item": "3",
				"color_rating": "#f8a427",
				"padding_top": 50,
				"padding_bottom": 50,
				"color_scheme": "scheme_2"
			},
			"blocks": [
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>I absolutely love the fashion choices on this website. The quality and variety of clothing are top-notch. It's become my go-to place for trendy outfits.</p>",
						"author_name": "Jame Bones",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-7.jpg",
						"author_shape": "default",
						"star": "5"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>Great website for stylish clothing. I've found some fantastic pieces here. The only thing I'd suggest is more size options for a wider range of customers.</p>",
						"author_name": "Emily Blunt",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-3.jpg",
						"author_shape": "default",
						"star": "4"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>This website has transformed my wardrobe! I can always count on them for the latest fashion trends. The service is excellent, and the delivery is fast.</p>",
						"author_name": "Olivia Wilde",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-5.jpg",
						"author_shape": "default",
						"star": "4.5"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>Absolutely in love with my recent fashion haul! The quality of the clothes exceeded my expectations. Will definitely be a repeat customer!</p>",
						"author_name": "Olivia Blunt",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-2.jpg",
						"author_shape": "default",
						"star": "5"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>I love it so much! The outfits fit perfectly, and the fabrics are so comfortable. Can't wait to show off my new looks. Highly recommend this brand.</p>",
						"author_name": "Emily Wilde",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-5.jpg",
						"author_shape": "default",
						"star": "5"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>Impressed with the fashion quality and unique designs. The pieces I ordered arrived promptly. A great online shopping experience overall!</p>",
						"author_name": "Isabella Gonzalez",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-4.jpg",
						"author_shape": "default",
						"star": "5"
					}
				},
				{
					"type": "testimonial_block",
					"settings": {
						"heading": "",
						"heading_size": "smi-h6",
						"description": "<p>Fantastic fashion choices! The clothing is not only stylish but also comfortable. Quick shipping adds to the positive experience. Will shop here again!</p>",
						"author_name": "Alexei Petrovich",
						"author_info": "Customers in U.S.A",
						"author_image": "shopify://shop_images/smi-customer-8.jpg",
						"author_shape": "default",
						"star": "4"
					}
				},
				{
					"type": "color",
					"settings": {
						"background_color": "#fcf8f5",
						"background_gradient_color": "",
						"text_color": "#000000",
						"subtext_color": "#000000",
						"solid_background_button_color": "#000000",
						"solid_button_label_color": "#fcf8f5",
						"shadow_color": "#000000"
					}
				}
			]
		}
	]
}
{% endschema %}
<script defer>
window.addEventListener("DOMContentLoaded",(e=>{document.getElementById("smi-{{ section.id }}")})),function(){"use strict";function spTestimonial1(){let e="#smi-{{ section.id }}".replace("#",""),s=window.getComputedStyle(document.querySelector(`#${e}`),"").getPropertyValue("--grid-desktop-horizontal-spacing").replace("px","").replace("rem","");if("undefined"!=typeof SMI_Slider){console.log("scd2");const e="#smi-{{ section.id }} .smi-swiper",t=document.querySelector(e);if(t){console.log("scd3");let i=JSON.parse(t.getAttribute("data-slider"));i?.autoplay&&i?.speed&&(i.autoplay={delay:parseInt(i.speed)}),delete i.speed;const o={slidesPerView:parseInt(i.destopItems),slidesPerGroup:parseInt(i.destopItems),spaceBetween:s,watchSlidesProgress:!0,loop:!1,breakpoints:{0:{spaceBetween:s>15?15:s,slidesPerGroup:1,slidesPerView:"auto"},768:{slidesPerView:parseInt(i.tabletItems),slidesPerGroup:parseInt(i.tabletItems),spaceBetween:s},992:{slidesPerView:parseInt(i.destopItems),slidesPerGroup:parseInt(i.destopItems),spaceBetween:s}}};new SMI_Slider(e,{...i,...o});const toggleDots=()=>{const e=document.querySelector("#smi-{{ section.id }} .smi-custom-dots");if(e){e.querySelector(".swiper-pagination-lock")?e.classList.add("smi-hidden"):e.classList.remove("smi-hidden")}};toggleDots(),window.addEventListener("resize",(()=>{toggleDots()}))}}}window.addEventListener("DOMContentLoaded",(()=>{spTestimonial1()})),Shopify.designMode&&spTestimonial1()}();
</script>